{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-blogs | log in or sign up</title>
    <link rel="stylesheet" href="/static/login.css">
   
</head>
<body style=" background-image: url('/static/bgl.jpg');">
    
<div class="box">
    <div  class="boxa" style="padding:200px 0 100px 100px"><span style="font-size:70px;">G-blogs: Write<br>    your <i>blogs</i> here</span><br>
        <p style="margin:20px 0 0;">Create your blogs with this free platform.</p></div>
    <div class="all">
      {% for message in messages%}
      <h4 style="color:red">{{message}}</h4>
      {% endfor %}

    <form method="POST" action="login">
      {% csrf_token %}
        <input type="text" name="username" placeholder="Username" >
        <input type="password" name="password" placeholder="Password">
        <input type="Submit" value="Log in" class="log">
    
        
        
    </form>
    <button onclick="window.location.href='{% url 'sign' %}'">Create new account</button>
   
    </div>
    
</div>
</body>
</html>